<h1>Recipe Page</h1>

<h2> <%= @recipe.name %> </h2> <br>

<ul>
    <% @recipe.ingredients.each do |ig| %>
        <li><%= ig.name %></li>
        <% end %>
</ul>


<li> Author: <%= @recipe.user.name %> </li>
      




